docs/* linguist-detectable=false
*/docs/* linguist-detectable=false
docs/* linguist-language=plaintext
*/docs/* linguist-detectable=plaintext
docs export-ignore
docs/* export-ignore
*/docs/* export-ignore
*.html linguist-language=c++
/utils/ndf/cpp/docs/* linguist-detectable=false
