__pycache__/
*/__pycache__/
.idea/
*/.idea/
cmake-build-debug/
*/cmake-build-debug/
cmake-build-dmingw/
*/cmake-build-dmingw/
cmake-build-dmsvc/
*/cmake-build-dmsvc/
build/
*/build/
.vscode/
*/.vscode/

CommonData_backup/
*/CommonData_backup/
GameData_backup/
*/GameData_backup/
Gen/
*/Gen/